<ul class="list-group">
    <li class="list-group-item list-group-item-info" (click)=createMarker()>+ Agregar</li>
    <li 
    class="list-group-item" 
    *ngFor="let marker of markers; let i = index"
    (click)="goToMarker(marker)" 
    (dblclick)="deleteMarker(i)"
    [ngStyle]="{'background-color': marker.color}">
    Marcador {{i+1}} : 
    <div *ngIf="!checkName(i)">
        <input type="text" class="form-control" placeholder="nombre" (keyup.enter)="addName(i, $event)">
    </div>
    <div *ngIf="checkName(i)">
        <p>{{marker.name}}</p>
    </div>
    </li>
</ul>
<div #mapa class="mapa-container"></div>
<div class="row" id="zoom">
    <div class="col-12">
        <label class="form-label">zoom: {{zoomLevel | number:'2.2-2'}}  - lng, lat: [{{center[0] | number:'2.2-4'}},{{center[1] | number:'2.2-4'}}]</label>
        <input type="range" class="form-range" [value]="zoomLevel" min='0' max='20'
        #zoomInput (input)="cambioZoomInput(zoomInput.value)"
        >
    </div>
    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()" >-</button>
        <button class="btn btn-primary float-end" (click)="zoomIn()">+</button>
    </div>
</div>

